<header>
  <nav class="navbar navbar-dark bg-secondary shadow-sm">
    <div class="container d-flex justify-content-betwee">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>BEDI GRAMOPHONE HOUSE</strong>
      </a>
      <span class="cart-count">
        <!--<ul class="list-unstyled">
          <li><i class="fa fa-search"></i></li>
          <li><i class="fa fa-heart"></i></li>
          <li>-->
            <i class="fa fa-shopping-cart" style="font-size:30px;color:white"></i>
            <span class='badge badge-warning cartcount'> 0 </span>
          <!--</li>
        </ul>-->
      </span>
    </div>
  </nav> 
  <nav class="navbar navbar-dark bg-secondary shadow-sm">
    <div class="container d-flex justify-content-betwee">
      <a class="" href="#">Navbar</a>
    </div>
  </nav>  
  
</header>

  