<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <app-header>loading</app-header>
          </div>
        </div>
      </div>
      <app-footer>loading</app-footer>
    </div> 
   </div>   
</div>